* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.logincontainer {
    background-image: url(./login\ page\ wallpaper\ toyata.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}

.loginbox1 {
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.loginbox1>p {
    color: aliceblue;
    font-size: 20px;
}

.login1 {
    text-decoration: none;
    color: blue;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    font-weight: 900;
}

.loginbox1>button {
    width: 125px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #3c3ccf;
    font-size: 17px;
    color: aliceblue;
    margin-bottom: -10px;
}

.loginsubcontainer {
    background-color: rgba(10, 10, 10, 0.7);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.loginsubcontainer>button {
    width: 125px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #3c3ccf;
    font-size: 14px;
    color: aliceblue;
    cursor: pointer;
}

button:hover {
    background-color: red;
}

.login1:hover {
    background-color: blue;
    color: aliceblue;
    padding: 5px;
    border-radius: 7px;
}

input {
    min-width: 250px;
    height: 45px;
    padding-left: 10px;
    position: relative;
}

label {
    font-weight: 600;
    color: aliceblue;
}

span {
    display: flex;
    align-items: center;
    position: relative;
}

i {
    background-color: aliceblue;
    height: 39px;
    width: 43px;
    position: absolute;
    right: 1px;
    border: none;
    font-size: 25px;
    padding-top: 7px;
    padding-left: 7px;
}

@media screen and (min-width:300px) and (max-width:950px) {
    .logincontainer {
        display: grid;
        grid-template-columns: auto;
    }

    .loginsubcontainer {
        padding: 20px;
    }

    .logo {
        width: 300px;
    }

    .loginsubcontainer {
        padding: 20px;
        width: fit-content;

    }
}